/* .global-rain-ruler .color-ruler {
  background: linear-gradient(to right, rgb(47, 31, 45), rgb(63, 48, 68), rgb(76, 68, 94), rgb(85, 90, 120), rgb(90, 113, 146), rgb(91, 137, 171), rgb(87, 163, 194), rgb(79, 189, 214), rgb(70, 216, 231), rgb(64, 244, 244));
  -webkit-transition: .3s opacity;
  transition: .3s opacity;
  margin-bottom: 5px;
  border-radius: 20px;
  width: 100%;
  white-space: nowrap;
  font-size: 12px;
  box-shadow: 0 0 4px 0 black;
}
.local-rain-ruler .color-ruler {
  background: linear-gradient(to right, #ffffff, #c1def7, #a6cee3, #6ab6dc, #479dcf, #2481bb, #1764a3, #003c78, #073576);
  -webkit-transition: .3s opacity;
  transition: .3s opacity;
  margin-bottom: 5px;
  border-radius: 20px;
  width: 100%;
  white-space: nowrap;
  font-size: 12px;
  box-shadow: 0 0 4px 0 black;
}

.local-flood-ruler .color-ruler {
  background: linear-gradient(to right, #ffffff, #c1def7, #a6cee3, #6ab6dc, #479dcf, #2481bb, #1764a3, #003c78, #073576);
  -webkit-transition: .3s opacity;
  transition: .3s opacity;
  margin-bottom: 5px;
  border-radius: 20px;
  width: 100%;
  white-space: nowrap;
  font-size: 12px;
  box-shadow: 0 0 4px 0 black;
  height: 30px;
} */

.color-ruler p {
  line-height: 1.5;
  padding: 3px 5px;
  text-align: center;
  margin: 0;
  vertical-align: middle;
}

/* .color-ruler p:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.color-ruler p:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
} */

.unit {
  color: white;
  background-color: green;
  padding: 3px 5px;
  /* border-radius: 30px; */
  display: inline-block;
  margin-bottom: 0;
  min-width: 35px;
  line-height: 1.5;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .color-ruler {
    /* transform: rotateX(90deg); */
  }
}
